# 07. Tuple
Tuple is not immutable similar to array

In [12]:
t = (1, 2, 3) # tuple elements cannot be modified

In [2]:
print(t[0])

1

In [3]:
t1= () #empty tuple

In [4]:
print(t1)

()

In [7]:
t2 =(2,) # declaring tuple with only one element 
# tuple with only one element needs a comma

In [6]:
print(t2)

(2,)

In [8]:
t3=(2, 3, 4, 5, 6, 2, 4, 5, 2)
t3.count(2) # counts the number of 3 in the tuple

3

In [10]:
t3.index(4) # returns the index of the index of first ocurrence of 4 in the tuple

2